# Marquer tous les fichiers JSON volumineux comme binary pour que Git ne les analyse pas
# Commentés pour désactiver Git LFS
# *.json filter=lfs diff=lfs merge=lfs -text
tests/test_data/*.json binary
files/*.json binary
results/*/*.json binary 